body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1 {
  height: 264px;
  padding: 168px 18px;
  border-radius: 20px;
  width: 333px;    
}

.box-1 img {
    height: 331px;
    align-items: center;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 2.1rem 0.25rem rgba(0, 0, 0, 0.2));
    margin-left: -20px;
    
}
.form-group {
  display: flex;
  padding: 0px 8px;
  flex-wrap: nowrap;
  flex-direction: row;

  
}


.box-2 {
  background-color: white;
  height: 537px;
  padding: 32px 45px;
  border-radius: 20px;
  width: 623px;  
  
}

.login-container{
    background-color: #8EA1F2;
    box-shadow: -25px 26px 0 rgba(118, 115, 115, 0.301);
    width: 900px;
    height: 600px;
    border-radius: 20px;
    display: flex; 
}

#Firstname{
  border-radius: 13px;
  height: 35px;
  width: 42%;
  padding: 4px 13px;
  border-color: #000000;  

}

.Firstname {
  background-color: rgb(255, 255, 255);
  padding: 11px 12px;
  position: absolute;
  margin: -19px;
  margin-left: 16px;

}

#email{
  
  border-radius: 13px;
  height: 35px;
  width: 100%;
  border-color: #000000;
  border-width: 2px;
  padding: 4px 17px;
  margin-top: 20px;
}

.email{
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
  position: absolute;
  margin: -15px;
  margin-left: 16px;
  margin-top: 10px;
}

#Lastname{
  border-radius: 13px;
  height: 35px;
  width: 100%;
  padding: 4px 17px;
  border-color: #000000;  

}

.Lastname {
  background-color: rgb(255, 255, 255);
  padding: 11px 12px;
  position: absolute;
  margin: -19px;
  margin-left: 16px;

}


.pass{
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
  position: absolute;
  margin: -15px;
  margin-left: 16px;
  margin-top: 10px;
}


#password {
  border-radius: 13px;
  height: 35px;
  width: 100%;
  border-color: #1a1a1ac5;
  border-width: 2px;
  padding: 4px 17px;
  margin-top: 20px;
}


h2 {
    line-height: 0;
}
.login h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #383636;
    padding: 24px 0px;
    font-size: 25px;
}

.login p{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color: #828282;
    font-size: 13px;
    line-height: 1;
    font-weight:100;
}

p {
  font-family: 'Franklin Gothic', Arial, sans-serif;
  color: #383636;
  font-size: 15px;
}

.cbx {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  color: #383636;
  font-size: 12px;
}

a {
  font-family: 'Franklin Gothic', Arial, sans-serif;
  color: #718CFD;
  font-size: 12px;
  cursor: pointer;
}

  
.separator{
    display:flex;
    align-items: center;
    margin-top: 31px;
  }
  
  .separator .line{
    height: 1px;
    flex: 1;
    background-color: #828282;
    
  }
  
  .separator p{
    padding: 0 2rem;
    color: #828282;
    font-size: 15px;
  }



.button-block{
    background-color: #8EA1F2;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 23px;
    color: #383636;
    border-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button-block:hover{
    background-color: #506EEC;
}

.user {
  background-color: rgb(255, 255, 255);
  padding: 6px 10px;
  position: absolute;
  margin: -15px;
  margin-left: 16px;
}


label {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color: #828282;
    margin-right: 130px;
    margin-top: 3px;
}


.text a {
    color: #718CFD;
    font-family: 'Franklin Gothic', Arial, sans-serif;
    font-size: 14px;  
}

a {
    text-align: right;
}

/* icons */
.social{
  display: flex;
  padding: 14px 78px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
 }

svg:hover{
  justify-content: center;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  align-items: center;

 }

